// media query breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$laptop: 1367px;

// used fonts
// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

// colors
$main-color: #31456A;
$secondary-color: #FF004B;
